<h1>Order Confirmation</h1>

<h3>Name:</h3>
<p><%= @shoo.concat_name() %></p>

<h3>Address:</h3>
<p><%= @shoo.address() %></p>

<h3>Shoo Size:</h3>
<p><%= @shoo.shoo.size() %></p>

<h3>Quantity:</h3>
<p><%= @shoo.shoo.quantity() %></p>

<h3>Total:</h3>
<p><%= @shoo.shoo.total() %></p>